<section>
  <div class="col-md-24">
    <div class="row p-3"> 
      <div class="col-md-24">
           <h2>Om Oss</h2>
        </div>
    </div>
    <div class="row p-3">
      <div class="col-md-12">
          <p>Företaget Filmvisarna AB är en liten biografkedja som precis har startat och vill kunna bli de bästa biografen i Sverige! Just ni är vi placerade runt om i Skåne men vi vill expandera mera i framtiden och hoppas ni blir en del av det!</p>
      </div>
    </div>
  </div>
  </div>


  </section>