<div>
    <h2>Våran Salonger</h2>
    
    <h4>Lilla Salongen</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, natus? Illum, veniam quo! Hic deserunt pariatur cumque eligendi rerum ipsam delectus, quod doloremque assumenda sint dolorem ratione aut neque ad.</p>
    <h4>Stora Salongen</h4>
    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quam ducimus odio excepturi magnam natus fugit maiores suscipit facilis mollitia repellat, nisi ab quidem vero delectus iste facere sapiente fugiat!</P>
    <h4>Mellan Salongen</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam commodi suscipit mollitia quam corrupti nulla, temporibus harum deleniti sint, reprehenderit error! Libero labore unde laudantium facere neque commodi saepe culpa!</p>

  </div>