<section class="demo">
    <div class="col-md-24">
        <h1 class="p-2 headline">Tack för att du boka!</h1>
      <div class="row">
        <div class="col-md-12 p-2">
          <h3>Dina sittplatser</h3>
          <div class="color-font">
              <p>du har plats:  55</p>
              <p>Film du ska se: Glass</p>
          </div>
        </div>
        <div class="col-md-12 p-2">
            <h3>Pris</h3>
            <div class="color-font">
                <p>120kr</p>
                <p>Total summa : 120kr</p>  
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 p-2">
            <h3>Biljetter</h3>
            <div class="color-font">
              <p>Biljett:  ${this.bookingId}</p>
            </div>
          </div>
          <div class="col-md-12 p-2">
              <h3>Salong/Datum</h3>
              <div class="color-font">
                  <p>Sal : Stora salongen</p>
                  <p>Tid: 25/4 kl 19.20</p>
              </div>
            </div>
        </div>
    </div>
  </section>