<section>
    <div class="wrapper progress-wrap ">
        <ul class="progressbar">

            <li class="step1 step-style ${this.stepCounter === 1 ? 'active-page' : ''}">1</li>
            <li class="step2 step-style ${this.stepCounter === 2 ? 'active-page' : ''}">2</li>
            <li class="step3 step-style ${this.stepCounter === 3 ? 'active-page' : ''}">3</li>
            <li class="step4 step-style ${this.stepCounter === 4 ? 'active-page' : ''}">4</li>
        </ul>

    </div>
    <div class="mobile-buttons">
       
        <button id="mobback" type="button" class="align-self-center btn ">${this.buttonBackText}</button>
        ${this.stepCounter === 3 ? `<button id="${App.loggedIn ? 'mobin' : 'mobout' }"
            type="submit" class="submit-forwardmobile align-self-center btn  
        ${App.loggedIn ? 'blinker': 'disabled'}">Slutför bokningen</button> ` : `<button id="mobforward" type="button" ${this.peopleCounter === 0 ? ' disabled' : ' '} class="align-self-center btn btn-light">${this.buttonForwardText}</button>`}
    </div>

    <div class="pagewrap ">

       ${this.stepCounter === 4 ? '': `<button id="backtext" ${this.disableBackButton === 0 ? ' disabled' : ' '}  type="button" class="btn btn-light">${this.buttonBackText}</button>` } 


        ${this.stepCounter === 1 ? this.pricePage : ''}
        ${this.stepCounter === 2 ? this.salonPage : ''}
        ${this.stepCounter === 4 ? this.bookingConfirm : ''}
        ${this.stepCounter === 3 ? (App.loggedIn ? `
        <div class="demo booking-btn">
            <div class="booking-btn-card">
                <h2 class="h2-booking-btn-top">För att bekräfta din bokning </h2>
                <h2 class="h2-booking-btn-bottom">vänligen klicka på slutför bokning.</h2>
            </div>
            <a class="navbar-brand" href="/"><img class="logo-fv" src="/images/Filmvisarna.PNG" alt="Logo"></a>
        </div>
        ` : this.regPage) : ''}

        ${this.stepCounter === 3 ? `<button id="${App.loggedIn? 'save-user-loggedin' : 'save-user-notloggedin' }"
        type="submit" class="done-btn btn  btn-sm ${App.loggedIn ? 'blinker': 'disabled'}">Slutför
        bokningen</button>  ` : `<button id="forward" type="button" ${this.peopleCounter === 0? ' disabled' : ' '}   class="btn btn-light">${this.buttonForwardText}</button>`}


 
       



    </div>

</section>