<section class="demo">
    <div class="col-md-24">
        <h1 class="p-2 testo">Tack för att du boka!</h1>
      <div class="row">
        <div class="col-md-12 p-2">
          <h3>Dina sittplatser</h3>
          <div class="font-test">
              <p>du har plats:  3B, 4B, 5B</p>
          </div>
        </div>
        
        <div class="col-md-12 p-2">
            <h3>Pris</h3>
            <div class="font-test">
                <p>100kr 200kr</p>
                <p>Total summa : 300kr</p>  
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 p-2">
            <h3>Biljetter</h3>
            <div class="font-test">
                ${this.bookingId}
            </div>
          </div>
          <div class="col-md-12 p-2">
              <h3>Salong/Datum</h3>
              <div class="font-test">
                  <p>Sal : Stora salong</p>
                  <p>Tid: 25/4 kl 19.20</p>
              </div>
            </div>
        </div>
    </div>
  </section>