<section>

    <div class="wrapper progress-wrap">
        <ul class="progressbar">
            <li class="step1 step-style active-page">1</li>
            <li class="step2 step-style">2</li>
            <li class="step3 step-style">3</li>
            <li class="step4 step-style">4</li>
        </ul>
    </div>


 
    <div class="pagewrap">
        <button id="backtext" type="button" class="btn btn-light">Bakåt</button>

        <div class="example">

            <p class="demo">Välj platser</p>


        </div>








        <button id="forward" type="button" class="btn btn-light">Framåt</button>

    </div>

</section>