<section class="movie-section">


  <div class="testdiv">
    ${this.title === undefined ? '' : `
    <div class="movie-fade"></div>
    <img class="bg-image" src=${this.movie ? `/images/${this.movie.images[0]}` : '' }>



    <img class="play" data-toggle="modal" data-target="#trailermodal" src=${this.movie ? `/images/play.png` : '' }>

    <div class="modal fade trailermodal" id="trailermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close trailer-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <iframe allowfullscreen="true" width="465" height="340" src="${this.youtube}${this.movie.youtubeTrailers[0]}"></iframe>
          </div>
        </div>
      </div>
    </div>


    <div class="page-info">
      <h2 class="movieh2">${this.movie ? this.movie.title : ''}</h2>
      <h4 class="movieh4">${this.movie ? "År: " : ''}
        ${this.movie ? this.movie.productionYear : ''}
        ${this.movie ? "| Minuter: " : ''}
        ${this.movie ? this.movie.length: ''}
        ${this.movie ? "| Genre: " : ''}
        ${this.movie ? this.movie.genre: ''} </h4>
      <br>
      <p>${this.movie ? this.movie.description: ''} </p>
      <p>${this.movie ? "Regisör: " : ''}
        ${this.movie ? this.movie.director: ''} </p>
     
      <p class="p-actor">${this.movie ? "Skådespelare: " : ''} </p>
      <p class="p-actor">${this.movie.actors.map(actor => `<div class="p-actor">${actor}</div>`).join(', ')}${`.`}</p>

      <p>${this.movie ? "Språk: " : ''}
        ${this.movie ? this.movie.language: ''} </p>
      <br>
    </div>

   
       
    <h2 class="act-view">Aktuella visningar: </h2>
    <table class="table table-dark  table-hover">
        <thead>
            <tr>
              <th scope="col">Film</th>
              <th scope="col">Salong</th>
              <th scope="col">Datum</th>
              <th scope="col">Tid</th>
            </tr>
          </thead>
          <tbody>

            <!--- ${this.list ? JSON.stringify(this.list) : ''}-->
      <!--- ${this.testlist.map((listitem) => `<div class="row"><p>| Film:  ${listitem.film} | Salong: ${listitem.auditorium}  | Datum: ${listitem.date} | Tid: ${listitem.time} |</p> <button id="select-view" data-view-id="${listitem._id}" type="button" class="btn btn-light">Boka</button></div>`).join('')}-->
      ${this.testlist.map((listitem) => `
       
      

            <tr>
 
              <td><a href="/view/${listitem._id}" data-view-id="${listitem._id}">${listitem.film}</a></td>
              <td><a href="/view/${listitem._id}" data-view-id="${listitem._id}">${listitem.auditorium}</a> </td>
              <td><a href="/view/${listitem._id}" data-view-id="${listitem._id}">${listitem.date}</a></td>
              <td><a href="/view/${listitem._id}" data-view-id="${listitem._id}">${listitem.time}</a></td> 
            </tr>


      `).join('')}`}

</tbody>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle movie-button" type=" button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" data-boundary="scrollParent">

      ${this.title ? this.title : 'Movies'}
    </button>


    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      ${this.movies.map((movie) => `<div data-movie-id="${movie._id}" class="dropdown-item">${movie.title}</div>`).join('')}
    </div>
  </div>

</section>