<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      ${this.navItems}
      ${this.userLogin}
      ${this.userRegistration ? this.userRegistration : `
        <div class="navbar-email">
          <button class="email-btn btn">
            ${this.email}
          </button>
        </div>`}
    </ul>
  </div>

</nav>
   