<form class="reg-form d-flex align-content-center flex-wrap">
	<h4>Var god och skriv in dina uppgifter för att boka!</h4>
	<div class="input-group group1">
			<span class="blocking">
		<input id="firstname" type="text" class="form-control form-style" name="first" placeholder=" "><span class="place-style">Förnamn</span>
		</span>
		<span class="blocking">
		<input id="lastname" type="text" class="form-control form-style" name="last" placeholder=" "><span class="place-style">Efternamn</span>
	</span>
	</div>

	<div class="input-group group2">
			<span class="blocking2">
		<input id="email" type="text" class=" form-control form-style" name="email" placeholder=" "><span class="place-style">Email</span>
	</span>
	</div>


</form>