<div>
  <div class="pb-4">
      <h2>Regler</h2>
  </div>
     <h4>Mobiltelefoner</h4>
     <p>Vi på Filmvisarna AB vill helst att ni stänger av eran mobiler eller att ljudet på av så det ej stör andra i salongen. Om det är så att ni svara på samtal under filmen ni tittar på så går gärna ut tillbaka till ingången av salongen och ut till korridorerna.</p>
     <h4>Efter filmen</h4>
     <p>Ta gärna undan allt skräp ni tar in i salongen och släng de i soppåsarna när ni är påväg ut! Vi vill helst att våran salonger ska vara rena och vi är tacksamma om ni hjälper oss med det.</p>
  
  </div>