<div class="salon">
  <div class="container">
    <button type="button" class="small-salon-btn btn btn-primary" data-toggle="modall" data-target="#myModall">
      Lilla Salongen
    </button>
    <button type="button" class="medium-salon-btn btn btn-primary" data-toggle="modall" data-target="#myModall">
      Mellan Salongen
    </button>
    <button type="button" class="large-salon-btn btn btn-primary" data-toggle="modall" data-target="#myModall">
      Stora Salongen
    </button>

    <div class="screen">
    </div>

    <div class="salon-rows">
      <div class="row row1">
        ${this.row1}
      </div>
      <div class="row">
        ${this.row2}
      </div>
      <div class="row">
        ${this.row3}
      </div>
      <div class="row">
        ${this.row4}
      </div>
      <div class="row">
        ${this.row5}
      </div>
      <div class="row">
        ${this.row6}         
      </div>
      <div class="row">
        ${this.row7}
      </div>
      <div class="row">
        ${this.row8}         
      </div>
    </div>

  </div>
</div> 