<div class="demo salon">
  <div class="container">
    
    <div class="screen">
    </div>

    <div class="salon-rows">
      <div class="row row1">
        ${this.row1}
      </div>
      <div class="row">
        ${this.row2}
      </div>
      <div class="row">
        ${this.row3}
      </div>
      <div class="row">
        ${this.row4}
      </div>
      <div class="row">
        ${this.row5}
      </div>
      <div class="row">
        ${this.row6}
      </div>
      <div class="row">
        ${this.row7}
      </div>
      <div class="row">
        ${this.row8}
      </div>
    </div>

  </div>

</div>