<section>
    <div class="registration-field">
      <button type="button" class="register-button btn btn-primary" data-toggle="modal" data-target="#regModal">
        Registrering
      </button>
  
    </div>
    <div class="register-modal">
      <!-- The Modal -->
      <div class="modal fade" id="regModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header bg-dark reg-modal-header">
              <h4 class="modal-title">Registrering</h4>
              <button type="button" class="close close-btn" data-dismiss="modal">&times;</button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body bg-dark reg-modal-body">
              <div class="input-group login-group">
                <span class="blocking">
                  <input id="register-name" type="text" class="form-control form-style" name="first" placeholder=" "><span
                    class="place-style">Fyll i ett användarnamn</span>
                </span>
                <span class="blocking-registration">
                  <input id="register-password" type="password" class="form-control form-style" name="last" placeholder=" "><span
                    class="place-style">Fyll i ett lösenord</span>
                </span>
              </div>
  
            </div>
  
            <!-- Modal footer -->
            <div class="modal-footer bg-dark">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Registrera dig</button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>