.card{
    background-color: #1F2833;
}
.no-decoration:hover{
    text-decoration: none;
}
.no-decoration:focus{
    text-decoration: none;
}

.collapse-header{
    text-align: center;
}

.card-header{
    background-color: #16574e;
}

.card-body{
    color: #C5C6C7;
}