.h2-booking-btn-topp {
  display: inline-block;
  margin-top: 50px;
}  

.h2-booking-btn-bottom {
  display: inline-block;
}

#booking-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

.p-booking-btn{
  margin-top: 60px;
}

.h3 {
  margin-top: 8px;
}

@media screen and (max-width: 1200px) {

}