

.font-test{
    font-style:italic;
    color:rgba(180, 240, 225, 0.712); 

    p{
        margin: 0 auto;
        padding: 0.2rem;
    }

}

.testo{
   border-bottom: 1px solid rgba(180, 240, 225, 0.712);
}

