.reg-form{
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.397);
  padding: 20px;
  border-radius: 10%;
  
}


.form-style{
  position: relative;
  border:none;
  background-color: transparent;
  border-bottom: 2px solid white;
}

.group1{
  margin-top: 30px;
  margin-bottom:30px;
}

#email{
  padding-top: 20px;
  max-width: 100%;
 
}


.group2{
  margin-bottom: 30px;
}

.blocking{
  position: relative;
  margin-right: 40px;
}

.blocking2{
  position: relative;
  width: 300px;
}

.place-style{
  font-size: 13px;
  font-style: italic;
   position: absolute;
  pointer-events: none;
  left: 4px;
  top: 20px;
  transition: 0.2s ease all;
  color:rgba(180, 240, 225, 0.712); 

}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
  top:10px;
  left: 15px;
  color:rgba(180, 240, 225, 0.712);
  
}

input[type=text]:focus, textarea:focus{
  background-color: transparent;
  padding: 3px 0px 3px 3px;
  color: whitesmoke;
  border:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline: none;
  border-bottom: 1px solid lightcoral; 
}


input[type=text], textarea {
  padding: 3px 0px 3px 3px;
  margin: 5px 5px 3px 0px;
  border:none;
  border-bottom: 1px solid lightcoral;
  color: whitesmoke;
 
}

input[type=password], textarea {
  padding: 3px 0px 3px 3px;
  margin: 5px 5px 3px 0px;
  border:none;
  border-bottom: 1px solid lightcoral;
  color: whitesmoke;
 
}


input[type=text]::placeholder,input[type=password]::placeholder {
  font-size: 14px;
 color:lightcoral;
 text-align: right;
}


input[type=password]:focus, textarea:focus{
  background-color: transparent;
  padding: 3px 0px 3px 3px;
  color: whitesmoke;
  border:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline: none;
  border-bottom: 1px solid lightcoral; 
}
.verify-tecken,.verify-bokstav,.verify-number,.verify-email{
color: lightcoral;
font-size: 12px;


}


.validate-box{
  margin-top: 40px;

  width: 100%;
  max-width: 100%;
}
.done-btn{
  float:right;
  height: 50px;

}



.email-style{
  margin: 0 auto;
}