.salon-rows > .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat {
  display: inline-block;
  background-color: rgb(16, 133, 16);
  margin: 3px 1px 1px 1px;
  width: 35px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;

  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}

.row1 {
  margin-top: 120px;
}

.screen {
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 40px;
  height: 5px;
  width: 350px;
  background-color: rgb(60, 60, 60);
  box-shadow: 0px 3px 2px 1px rgb(255, 255, 255);
}

.blink_me {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

@media screen and (max-width: 700px) {
  .seat {
    width: 25px;
    height: 15px;
  }
  .screen {
    width: 200px;
  }
}