// We want to change to 24 columns and a slightly wider gutter
$grid-columns:  24;
$grid-gutter-width: 50px;


//button
$primary: #85ffc7;


//navbar 
$navbar-dark-active-color: #297373;
$navbar-dark-color: #85FFC7;

