@media screen and (max-width: 515px) {
  .testo {
    font-size: 25px
  }
  h3 {
    font-size: 15px
  }
}

@media screen and (max-width: 950px) {
  .booking-confirm-container {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }


}

.h4-upper {
  margin-top: 250px;
  margin-bottom: 30px;
}

@media screen and (min-width: 950px) {
  .booking-confirm-container {
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 250px;
  }
}
