.salon-rows > .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat {
  display: inline-block;
  background-color: rgb(0, 106, 0);
  margin: 3px 1px 1px 1px;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px 2px 2px 2px;
  border-color: rgb(0, 106, 0) rgb(0, 255, 136) rgb(255, 255, 0) rgb(0, 255, 136);

  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}

.blue {
  display: inline-block;
  background-color: rgb(53, 187, 218);
  margin: 3px 1px 1px 1px;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px 2px 2px 2px;
  border-color: rgb(0, 106, 0) rgb(0, 255, 136) rgb(255, 255, 0) rgb(0, 255, 136);

  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}

.taken-seat{
  display: inline-block;
  background-color: rgb(181, 21, 21);
  margin: 3px 1px 1px 1px;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(181, 21, 21) rgb(255, 0, 0) rgb(255, 255, 0) rgb(255, 0, 0);

  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}

.row1 {
  margin-top: 80px;
}

.h4-salon {
  margin-top: 80px;
}

.screen {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 50px;
  width: 500px;
  background: linear-gradient(rgb(255, 0, 0), rgb(11, 12, 16) 70%);
  border-radius: 5px 5px 0 0;
}

.blink-me {
  animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

@media screen and (max-width: 700px) {
  .seat {
    width: 22px;
    height: 12px;
  }
  .screen {
    width: 200px;
  }
}