.login-field {
  position: absolute;
  right: 20px;

  p {
    padding: 5px;
    text-align: center;
    color: black;
  }
}

@media screen and (max-width: 990px) {
  .login-field {
    position: relative;
    margin: 10px 0 0 16px;
  }
}