//@import "node_modules/bootstrap/scss/functions";
//@import "_bootstrap-variables";
//@import "node_modules/bootstrap/scss/bootstrap";

.App {
  .navbar-toggler {
    color: white !important;
  }

  background-color: black !important;

  /* here you could have specific styling for app */
}

.body {
  background-color: #0b0c10;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

main {
  flex: 1;
}
