form {
  margin: 0 auto;
  width: 80%;
}

form-group {
  margin-bottom: -30px;
}

.reg-form {
  margin: 0 auto;
  // max-width: 550px;
  // height: 400px;
  // background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10%;
  position: relative;
  width: 100%;
}

.form-style {
  position: relative;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
}

.blocking {
  position: relative;
}

.place-style {
  width: 150px;
  font-size: 13px;
  font-style: italic;
  position: absolute;
  pointer-events: none;
  left: 4px;
  transition: 0.2s ease all;
  color: rgba(180, 240, 225, 0.712);
}

.group1 {
  margin-top: 10px;
  margin-bottom: 0px;
}

input[type="text"],
textarea {
  padding: 3px 0px 3px 3px;
  margin: 5px 5px 3px 0px;
  border: none;
  border-bottom: 1px solid lightcoral;
  color: whitesmoke;
}

input[type="text"] {
  margin-top: 30px;
  background-color: transparent !important;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid lightcoral;
  width: 50%;
}

input[type="text"]:focus,
textarea:focus {
  background-color: transparent;
  padding: 3px 0px 3px 3px;
  color: whitesmoke;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid lightcoral;
}

.validated {
  border-bottom: 1px solid lightgreen !important;
}
input:focus + span,
input:not(:placeholder-shown) + span {
  width: 150px;
  font-size: 16px;
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
  top: -40px;
  left: 15px;
  color: rgba(180, 240, 225, 0.712);
}

input[type="password"],
textarea {
  background-color: transparent;
  padding: 3px 0px 3px 3px;
  margin: 30px 5px 3px 0px;
  border: none;
  border-bottom: 1px solid lightcoral;
  color: whitesmoke;
  width: 50%;
}

input[type="password"]:focus,
textarea:focus {
  background-color: transparent;
  padding: 3px 0px 3px 3px;
  color: whitesmoke;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid lightcoral;
}

.not-validated {
  color: lightcoral !important;
  font-size: 12px;
}

.validated-text {
  color: lightgreen !important;
  font-size: 12px;
}

.validate-box {
  margin: 33px 0px;
  line-height: normal;
  width: 100%;
  max-width: 100%;
  display: flex;
}
