.input-styling {
  font-weight: 500;
  width: 100px;
  height: 30px;
}

.input-box {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: flex-end;
}

.underline-styling {
  border-bottom: 1px solid rgb(255, 255, 255) !important;
}

.inputmodalstyle {
  color: white;
}
